---
// Importamos el componente con el nombre EXACTO que tienes en VS Code
import GroupCalendar from '../../components/Calendar';
const { id } = Astro.params;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>oNoSoAlMaNaQuE</title>
  </head>
  <body class="bg-gray-100 min-h-screen">
  <main class="max-w-5xl mx-auto px-4 py-12">
    
    <GroupCalendar client:load groupId={id as string} />
  </main>
</body>
</html>

<style is:global>
  @import "tailwindcss"; /* Esta línea carga todo Tailwind v4 */

  body {
    font-family: system-ui, -apple-system, sans-serif;
  }
</style>